.ContactUsBG {
  position: relative;
  width: 100%;
  height: 130vh;
  overflow: hidden;
}
.ContactUsBG::before {
  content: "";
  position: absolute;
  bottom: -150px; /* move up */
  left: -50%;
  width: 200%;
  height: 500px;
  background-color: #e0f4ff; /* diagonal rectangle color */
  transform: rotate(-10deg); /* angle of the rectangle */
  z-index: 0; /* behind content */
}
.ContactUsContainer {
  display: flex;
  flex-direction: column;
  width: 100vw !important;
  position: relative;
}
.ContactUsHeader {
  margin-top: 10vh;
  align-items: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.DashboardBtn {
  margin-top: 20px;
  background-color: #009444;
}
.ContactUsDescription {
  width: 30%;
  text-align: center;
}
.ContactUsCard {
  margin-top: 10vh;
  display: flex;
  background-color: #ffff !important;
  width: 100%;
  padding: 50px;
  border-radius: 20px;
  box-shadow: 10px -8px 15px -3px rgba(0, 0, 0, 0.28);
  -webkit-box-shadow: 10px -8px 15px -3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 10px -8px 15px -3px rgba(0, 0, 0, 0.28);
  margin-bottom: 10vh !important;
}

.ContactUsForm {
  display: flex;
  flex-direction: column;
  width:1800px !important;
  background-color: #ffff !important;
  padding: 40px;
  border-top: 5px #009444 solid;
  border-radius: 20px;
  overflow-y: scroll;
  height: 400px;
}
@media (min-width: 769px) and (max-width: 1120px) {

  .ContactUsForm {
    width: 1100px !important;
  }
  .ContactUsInfo {
    width: 350px !important;
  }
}
@media (min-width: 661px) and (max-width: 769px) {
  .ContactUsBG {
    height: 150vh;
  }
  .ContactUsForm {
    width: 1100px !important;
  }
  .ContactUsInfo {
    width: 250px !important;
  }
}
@media (max-width: 661px) {
  .ContactUsBG {
    height: 200vh;
  }
  .ContactUsHeader {
    width: 100%;
  }
  .ContactUsDescription {
    width: 100%;
  }
  .ContactUsCard {
    display: flex;
    flex-direction: column;
    height: 150vh;
    padding-left: 2px;
    padding-right: 2px;
    padding: 4px;
  }
  .ContactUsForm {
    height: 100% !important;
    width: 320px !important;

  }

  .ContactUsInfo {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    border-top: #009444 1px dashed;
    border-radius: 50px;
    padding-top: 10px;
  }
  .ContactUsInfoDetails {
    width: 80%;
    font-size: x-small;
  }
  .CSILogo {
    margin-left: 0px !important;
    margin-top: 20px;
  }
}
