.ContactUsBG{
  position: relative;
  width: 100%;
  height: 130vh;
    overflow: hidden;
}
.ContactUsBG::before {
  content: '';
  position: absolute;
  bottom: -150px; /* move up */
  left: -50%;
  width: 200%;
  height: 500px;
  background-color: #e0f4ff; /* diagonal rectangle color */
  transform: rotate(-10deg); /* angle of the rectangle */
  z-index: 0; /* behind content */

}
.ContactUsContainer{
    display: flex;
    flex-direction: column;
    width: 100vw !important;
        position: relative;
}
.ContactUsHeader{
    margin-top: 10vh;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.DashboardBtn{
    margin-top: 20px;
    background-color: #29AAE1 ;
}
.ContactUsDescription {
    width: 30%;
    text-align: center;
}
.ContactUsCard {
     margin-top: 10vh;
display: flex;
background-color: #ffff !important;
width: 100%;
padding: 50px;
border-radius: 20px;
box-shadow: 10px -8px 15px -3px rgba(0,0,0,0.28);
-webkit-box-shadow: 10px -8px 15px -3px rgba(0,0,0,0.28);
-moz-box-shadow: 10px -8px 15px -3px rgba(0,0,0,0.28);
margin-bottom: 10vh !important;

}

.ContactUsForm{
    display: flex;
    flex-direction: column;
    width: 65vw !important;
    background-color: #ffff !important;
width: 100%;
padding: 40px;
border-top: 5px #29AAE1 solid ;
border-radius: 20px;
   overflow-y:scroll;
   height: 400px;
}