.DashboardContainer{
    display: flex;
    flex-direction: row !important;
    width: 100%;
   
  
}
.DashboardCardContainer{
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    margin-left: 30vw !important;
    margin-top: 2vw;
    align-items: center;
     justify-items: center;
}
.DashboardCard{
    width: 60vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-radius: 10px;

 
}
.DashboardTitleCard { 
    width: 55vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid #877E7E;
    font-size: 0.8vw;
}

.FavoriteCard, .FavoriteCard1 {
    border-left: #29AAE1 solid 5px;
    border-radius: 10px;
    background-color: #F0FCFF;
    margin-bottom: 2vh;
 
}

.FavoriteCard1 {
  border-left: #073041 solid 5px;
}

.DashboardCardContainer {
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    margin-left: 20vw;
     justify-items: center;
}

@media (min-width : 760px) and ( max-width: 1023px ){
.DashboardContainer {
    flex-direction: row;
  }

  .DashboardCardContainer {
    width: calc(100% - 250px); /* smaller sidebar */
    margin-left: 250px !important;
    padding: 1rem;
  }

  .DashboardCard {
    width: 60vw !important;
    margin-left: 0;
  }

  .DashboardTitleCard {
    width: 50%;
    font-size: 1.2vw;
  }

}
@media (max-width: 759px){
    .DashboardContainer {
    flex-direction: column;
  }

  .DashboardCardContainer {
    width: 100%;
    margin-left: 0vw !important;
    padding: 1rem;
  }

  .DashboardCard {
    width: 80vw !important;
    margin-left: 0;
  }


  .DashboardTitleCard {
    width: 70vw !important;
    font-size: 2.5vw;
    margin-left: 0;
  }
}

