.ResetActionsGroup {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.ResetConfirmContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    flex-direction: column;
    border-top : 1px solid #ccc;
    margin-bottom: 10px ;
}
.ResetModalTitle {
    font-size:18px;
    font-weight: bold;
    text-align: center;
   
}

.ResetPasswordContainer{
    border-top : 1px solid #ccc;
    padding-top: 20px;
    margin-bottom: 10px ; 
}
.ResetModalBtn {
width: 60vw;
}