.ResetActionsGroup {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-direction: row;
    align-items: center;
}
.ResetConfirmContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    flex-direction: column;
    border-top : 1px solid #ccc;
    margin-bottom: 30px ;
}
.ResetModalTitle {
    font-size:18px;
    font-weight: bold;
    text-align: center;
   
}

.ResetPasswordContainer{
    border-top : 1px solid #ccc;
    padding-top: 20px;
    margin-bottom: 10px ; 
}
.ResetModalBtn {
width: 60vw;
}
.NewPasswordStrengthContainer {
    position: absolute;
    background-color: white;
    padding: 10px;
    z-index: 100;
    border-radius:  10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


@media (max-width: 750px ) {
.ResetActionsGroup {
    display: flex;
    flex-direction:column-reverse;
   
  }
 .ResetModalBtn {
    width: 100%;
  
  }
  .CancelBtn {
     margin-bottom: 20px !important;
  }

  .AddAccountContainer{ 
    height: 80vh;
  }
}