.InvoiceContainer {
  display: flex;
  flex-direction: row !important;
  width: 100%;
}
.InvoiceCardContainer {
  display: flex;
  flex-direction: column;
  width: 100vw !important;
  margin-left: 30vw !important;
  margin-top: 2vw;
  align-items: center;
  justify-items: center;
}

.InvoiceCard {
  width: 60vw !important;
  margin-left: 1vw;
  margin-bottom: 2vw;
  border-radius: 10px;
}

.InvoiceTitleCard {
  width: 52vw !important;
  margin-left: 1vw;
  margin-bottom: 2vw;
  border-bottom: 1px solid #877e7e;
  font-size: 0.8vw;
}

@media (min-width: 760px) and (max-width: 1023px) {
  .InvoiceContainer {
    flex-direction: row;
  }

  .InvoiceCardContainer {
    width: calc(100% - 250px); /* smaller sidebar */
    margin-left: 250px !important;
    padding: 1rem;
  }

  .InvoiceCard {
    width: 60vw !important;
    margin-left: 0;
  }

  .InvoiceTitleCard {
    width: 50%;
    font-size: 1vw;
  }
}
@media (max-width: 759px) {
  .InvoiceContainer {
    flex-direction: column;
  }

  .InvoiceCardContainer {
    width: 100%;
    margin-left: 0vw !important;
    padding: 1rem;
  }

  .InvoiceCard {
    width: 80vw !important;
    margin-left: 0;
  }

  .InvoiceTitleCard {
    width: 70vw !important;
    font-size: 2.5vw;
    margin-left: 0;
  }
}
