.ForgotModalTitle {
    color: black;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 0;
    
}
.ModalDivider {
    margin-top: 0;
    margin-bottom: 10px;
    border-top: 1px solid #d4dbdf;
}
