.LooseLeafFrameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* full screen height */
  width: 100%;
  background-color: #f8f9fa; /* optional background */
  margin-top: 5vh;
  
}
.LooseLeafFormCard{
  border-left: #009444 solid 10px;
  border-radius: 20px;
}
/* Container for the iframe */
.LooseLeafIframeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;

  
}
.LooseLeafFrameTop {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.LooseLeafFrameTitle{
  font-weight: 600;
  font-size: 25px;
  margin-left: 5vh;
}
.BackButton {
  background-color: #009444 ;
}

.HelpButton {
  background-color: #ffffff !important;
  color: #009444; 
  text-decoration: underline;
}
.HelpButton:hover {
  background-color: #e8f7ff !important;
  color: #009444; 
  text-decoration: underline;
}
.LooseLeafFrameDescription{
    margin-left: 5vh;
}
/* The iframe itself */
.LooseLeafIframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 75vh;
  border: none;
  border-radius: 12px;
 overflow-y: hidden !important;
}


@media (max-width: 759px) {
.LooseLeafFrameTop{
  flex-direction: column !important;
  width: 100% !important;
  justify-content: center !important;

}
.BackButton {
  margin-left: 30%;
  margin-bottom: 10px;
}
.LooseLeafFrameTitle {
  margin-left: 30% ;
}


}