.NewItemCard {
    border-left: #009444 solid 5px;
    border-radius: 10px;
    background-color: #e0ffe8;
    margin-bottom: 2vh;
}
.NewCardGroup {
    display: flex;
    flex-direction: row;
}

@media (max-width: 460px) {
.NewCardGroup {
    display: flex;
    flex-direction: row;
}
.NewCardtTitle {
    font-size: 14px;
    width: 70%;
}
.NewCardtBtn {
    font-size: 14px;
}

}