.UnauthorizedContainer{
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: var(--mantine-color-blue-filled);
  height: 100vh;
  overflow-y: hidden;
}

.UnauthorizedLabel{
  text-align: center;
  font-weight: 600;
  font-size: 220px;
  line-height: 1;
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-color-blue-3);
}
.UnauthorizedTitle{
   font-family: Outfit, var(--mantine-font-family);
  text-align: center;
font-weight: 700 !important;
  font-size: 38px;
  color: var(--mantine-color-white);
}
.UnauthorizedDescription {
   max-width: 540px;
  margin: auto;
  margin-top: var(--mantine-spacing-xl);
  margin-bottom: calc(var(--mantine-spacing-xl) * 1.5);
  color: var(--mantine-color-blue-1);
}

@media (max-width : 720px ){
  .UnauthorizedContainer{
    align-items: center;
    display: flex;

  }
  .UnauthorizedLabel {
      font-size: 120px;
      margin-bottom: 5px;
  }
  .UnauthorizedTitle { 
     font-size: 28px;
      
  }
  .UnauthorizedDescription  {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 70vw;
  }
}