.ReportItemCard {
    border-left: #073041 solid 5px;
    border-radius: 10px;
    background-color: #F0FCFF;
    margin-bottom: 2vh;
}


@media  (max-width : 425px ) {
    .ReportBtn {
        font-size: 10px;
    }
}