.UserMenu{
 display: flex;
 flex-direction: row;
 width: 17vw;
height: 50px;
  align-items: center;
  background-color: white;
  border-top: solid #29AAE1 !important;
  border-radius: 5px;
 padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}
.UserButton {

}

.UserMenu:hover {
  background-color:#e7f5ff;
}

.UserInfo {
  flex: 1;

}
.ProfilePhoto {
  width: 40px;
  height: 40px;

}
