.BillsContainer{
    display: flex;
    flex-direction: row !important;
    width: 100%;
}
.BillsCardContainer{
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    margin-left: 30vw;
    margin-top: 2vw;
    align-items: center;
     justify-items: center;


}

.BillsCard{
    width: 60vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.BillsTitleCard { 
    width: 52vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid #877E7E;
    font-size: 0.8vw;
}

@media (min-width: 760px) and (max-width: 1023px) {
  .BillsContainer {
    flex-direction: row;
  }

  .BillsCardContainer {
    width: calc(100% - 250px); /* smaller sidebar */
    margin-left: 250px !important;
    padding: 1rem;
  }

  .BillsCard {
    width: 60vw !important;
    margin-left: 0;
  }

  .BillsTitleCard {
    width: 50%;
    font-size: 1vw;
  }
}
@media (max-width: 759px) {
  .BillsContainer {
    flex-direction: column;
  }

  .BillsCardContainer {
    width: 100%;
    margin-left: 0vw !important;
    padding: 1rem;
  }

  .BillsCard {
    width: 80vw !important;
    margin-left: 0;
  }

  .BillsTitleCard {
    width: 70vw !important;
    font-size: 2.5vw;
    margin-left: 0;
  }
}
