.BillsContainer{
    display: flex;
    flex-direction: row !important;
    width: 90vw;
}
.BillsCardContainer{
    display: flex;
    flex-direction: column;
     width: 70vw !important;
    margin-left: 26.66vw;
    margin-top: 2vw;
    align-items: center;
     justify-items: center;


}

.BillsCard{
    width: 60vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-radius: 10px;
}

.BillsTitleCard { 
    width: 52vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid #877E7E;
    font-size: 0.8vw;
}