.TinFrameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* full screen height */
  width: 100%;
  background-color: #f8f9fa; /* optional background */
  margin-top: 5vh;
  
}
.TinFormCard{
  border-left: #009444  solid 10px;
  border-radius: 20px;
}
/* Container for the iframe */
.TinIframeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;

  
}
.TinFrameTop {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.TinFrameTitle{
  font-weight: 600;
  font-size: 25px;
  margin-left: 5vh;
}
.BackButton {
  background-color: #009444  ;
}

.HelpButton {
  background-color: #ffffff !important;
  color: #009444 ; 
  text-decoration: underline;
}
.HelpButton:hover {
  background-color: #e8f7ff !important;
  color: #009444 ; 
  text-decoration: underline;
}
.TinFrameDescription{
    margin-left: 5vh;
}
/* The iframe itself */
.TinIframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 75vh;
  border: none;
  border-radius: 12px;
 overflow-y: hidden !important;
}
