.AddAccountCpntainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 8px;
}

.AddDescription {
  margin-bottom: 8px;
  font-size: 14px;
  color: #555;
}

.AddActions {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 16px;
}
.AddActionsGroup {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.AddAccountTitle {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.CreateBtn {
    width: 60vw;
}