.ComplianceContainer{
    display: flex;
    flex-direction: row !important;
    width: 100%;
}
.ComplianceCardContainer{
    display: flex;
    flex-direction: column;
    width: 100vw !important;
    margin-left: 30vw;
    margin-top: 2vw;
    align-items: center;
     justify-items: center;

}

.ComplianceCard{
    width: 60vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-radius: 10px;
    height: 60vh;
    overflow-y: scroll;
}
.ComplianceCardList{
min-height: 130vh !important;
border: none;
}
.ComplianceCardList1{
min-height: 60vh !important;
border: none;
}
.ComplianceTitleCard { 
    width: 52vw !important;
    margin-left: 1vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid #877E7E;
    font-size: 0.8vw;
}

@media (min-width: 760px) and (max-width: 1023px) {
  .ComplianceContainer {
    flex-direction: row;
  }

  .ComplianceCardContainer {
    width: calc(100% - 250px); /* smaller sidebar */
    margin-left: 250px !important;
    padding: 1rem;
  }

  .ComplianceCard {
    width: 60vw !important;
    margin-left: 0;
  }

  .ComplianceTitleCard {
    width: 50%;
    font-size: 1vw;
  }
}
@media (max-width: 759px) {
  .ComplianceContainer {
    flex-direction: column;
  }

  .ComplianceCardContainer {
    width: 100%;
    margin-left: 0vw !important;
    padding: 1rem;
  }

  .ComplianceCard {
    width: 80vw !important;
    margin-left: 0;
  }

  .ComplianceTitleCard {
    width: 70vw !important;
    font-size: 2.5vw;
    margin-left: 0;
  }
}
