.SawtFrameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 130vh !important; /* full screen height */
  width: 100%;
  background-color: #f8f9fa; /* optional background */
  margin-top: 5vh;
  
}
.SawtFormCard{
  border-left: #009444 solid 10px;
  border-radius: 20px;
    justify-content: center !important;
  align-items: center !important;
}
/* Container for the iframe */
.SawtIframeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center !important;
  height: 100vh;
  width: 90vw;

  
}
.SawtFrameTop {
  display: flex;
  flex-direction: row;
  width: 95%;
  justify-content: space-between;
}
.SawtFrameTitle{
  font-weight: 600;
  font-size: 25px;
  margin-left: 5vh;
}
.BackButton {
  background-color: #009444 ;
}

.HelpButton {
  background-color: #ffffff !important;
  color: #009444; 
  text-decoration: underline;
}
.HelpButton:hover {
  background-color: #e8f7ff !important;
  color: #009444; 
  text-decoration: underline;
}
.SawtFrameDescription{
    margin-left: 5vh;
    text-align: left !important;
    width: 90%;
}
.SheetButton {
  background-color: #009444 !important;
  color: #ffffff !important; 
  width: 50%;
}
/* The iframe itself */
.SawtIframe {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100vh;
  border: none;
  border-radius: 12px;
 overflow-y: hidden !important;
}
