.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1.5rem;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
    overflow: visible;
  position: relative;
  z-index: 1;
  position: sticky;
  top: 0;
  
}

.HeaderLogo {
  font-weight: bold;
  font-size: 1.125rem; 
}

.HeaderTitle {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  align-self: center;
  margin-left: 15vw;

}
.mantine-Menu-dropdown {
  z-index: 9999 !important;
  
}
.HeaderLogout {
  width: 15vw !important;
}


@media (max-width:759px ) {
   .HeaderLogo {
    display: none;
  }
  .HeaderLogout {
    width: 40vw !important;
  }

}