.UserManagementContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
}
.UserManagementCardContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex-direction: column;
    margin-left: 27vw;
    width: 90vw;
    align-items: center;
}
.AddUserButton{
    margin-top: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
}
.UserManagementCard{
    width: 60vw;
    padding: 20px;

}
.mantine-Table-th {
  font-weight: bold;
  text-transform: uppercase;
}

.mantine-Table-td {
  font-size: 14px;
}

.UserInformation {
display: table;
 width: 100% !important;
justify-content: center !important; 
align-items: center;
}

.UserInformation td,
.UserInformation th {
  text-align: center;
  padding: 12px 16px;
}

.AccountSettingsBtn {
    background-color: #E91919 ;
    border-radius: 15px;
    color: #fff !important;
    align-items: center !important;
    justify-items: center;
    width: 3vw !important;
}

.ResetBtn {
    border: #29AAE1 solid 2px ;
    border-radius: 15px ;
    margin-right: 5px ;
}