.UserManagementContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw !important;
}
.UserManagementCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  flex-direction: column;
  margin-left: 10vw;
  width: 90vw;
  align-items: center;
}
.AddUserButton {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: flex-end;
}
.UserManagementCard {
  width: 60vw;
  padding: 20px;
  margin-left: 250px;
}
.mantine-Table-th {
  font-weight: bold;
  text-transform: uppercase;
}

.mantine-Table-td {
  font-size: 14px;
}

.UserInformation {
  display: table;
  width: 100% !important;
  justify-content: center !important;
  align-items: center;
}

.UserInformation td,
.UserInformation th {
  text-align: center;
  padding: 12px 16px;
}

.AccountSettingsBtn {
  background-color: #e91919;
  border-radius: 15px;
  color: #fff !important;
  align-items: center !important;
  justify-items: center;
  width: 3vw !important;
}

.AccountSettingsBtn svg {
  width: 16px !important;   
  height: 16px !important;
}

.ResetBtn {
  border: #29aae1 solid 2px;
  border-radius: 15px;
  margin-right: 5px;
}
.AccountActionMenu {
  display: flex;
  flex-direction: column;
  margin-left: 1vw;
  width: 15vw;
}
.AccountActionMenu:hover {
  background-color: #fff !important ;
}
.DeactivateBtn,
.DeleteBtn {
  width: 100%;
  text-align: center;
  justify-items: center;
  align-items: center;
  border-bottom: #e2eff5 solid 0.5px;
}
.DeactivateBtn:hover {
  background-color: #ffdd57;
  color: black !important;
  border-radius: 15px;
}
.DeleteBtn:hover {
  background-color: #e91919;
  color: white !important;
  border-radius: 15px;
}

@media (min-width : 968px) and ( max-width: 989px )  {
 .UserManagementCardContainer {
    width: 100%;
  }
    .UserManagementCard {
    width: 80%;
     margin-left: 150px;
  }

}
@media (min-width : 899px) and ( max-width: 968px )  {
  .UserManagementCardContainer {
    width: 100%;
    margin-left: 5vw;
  }
    .UserManagementCard {
    width: 80%;
     margin-left: 220px;

  }
}


@media (min-width : 752px) and ( max-width: 899px )  {
  .UserManagementCard {
    width: 70%;
     margin-left: 30vw;
  }

  .UserManagementCardContainer {
    width: 100%;
    margin-left: 5vw;
  }
  .UserInformation {
    display: block;
    width: 70%;
  }
  .UserInformation thead {
    display: none;
  }
  .UserInformation tr {
    display: block;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
  }
  .UserInformation td {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    text-align: left;
    position: relative;
    width: 55vw;

    border-bottom: 0.5px #ccc solid;
  }
  .UserInformation td::before {
    content: attr(data-label); /* show header label */
    font-weight: bold;
    width: 45%;
    display: inline-block;
    color: black;
  }

  .UserActions {
    display: flex;
    align-items: end;
  }
  .ResetBtn {
    padding: 6px;
    width: 40px;
  }
}

@media (min-width: 540px) and (max-width : 759px) {
  .UserManagementCard {
    width:100%;
    margin-left: 25px;
  }
  .UserManagementCardContainer {
    width: 100%;
    margin-left: 1vw;
  }
    .UserInformation {
    display: block;
    width: 60%;
  }
   .ResetBtn {
    padding: 15px;
    width: 8vw;
    
  }
    .UserActions {
    display: flex;
    flex-direction: row;
    align-items: end;
  
  }
   .UserInformation td {
    width: 60vw;
   }
}



@media (max-width: 540px) {
  .UserManagementCard {
    width: 100%;
    margin-left: 10px;
  }

  .UserManagementCardContainer {
    width: 100%;
    margin-left: 10px;
  }
  .UserInformation {
    display: block;
    width: 90%;
  }
  .UserInformation thead {
    display: none;
  }
  .UserInformation tr {
    display: block;
    margin-bottom: 15px;
    border-bottom: 2px solid #ccc;
  }
  .UserInformation td {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    text-align: left;
    position: relative;
    width: 65vw;

    border-bottom: 0.5px #ccc solid;
  }
  .UserInformation td::before {
    content: attr(data-label); /* show header label */
    font-weight: bold;
    width: 45%;
    display: inline-block;
    color: black;
  }

  .UserActions {
    display: flex;
    align-items: end;
  }
  .ResetBtn {
    padding: 6px;
    width: 40px;
  }
}
