.UserManualcontainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f2f5fc;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  max-width: 73vw;
  margin: auto;
  margin-top: 30px;
  margin-left: 25vw;
  margin-top: 2vw;
  align-items: center;
  justify-items: center;
}

.UserManualsearch {
  margin-bottom: 16px;
  width: 70% !important;
  justify-content: left !important;
  align-self: start;
}

.UserManualtabs {
  border-radius: 10px;
  background: white;
  padding: 16px;
   width: 100% !important;
   min-height: 40vw;
}

.UserManualtablist {
  margin-bottom: 10px;
  border-bottom: 1px solid #e9ecef;
}

.UserManualtab {
  font-weight: 600;
  color: #5f5f5f;
  transition: color 0.2s ease;
}

.UserManualtab[data-active="true"] {
  color: #ffffff;
  border-bottom: 2px solid #29AAE1;
  border-radius: 20px 0 20px 0 ;
  background-color: #29AAE1;
}

.UserManualpanel {
  margin-top: 10px;
  margin-left: 30px;
}

.UserManualscroll {
  padding-right: 10px;
}

.UserManualcontent {
  line-height: 1.6;
  color: #333;
}
.UserManualRequirments {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 0 20px 20px 20px;
  padding-top: -10px !important;
  border-top: #e9e9e9 solid 3px ;
   border-bottom: #e9e9e9 solid 3px ;
   border-radius: 5px;
}
.UserManualSubheading{  
  margin-top: -20px;
  color: #555;
  font-weight: 400;
}

.StepTitle {
margin-top: 0 !important;
margin-bottom: -5px;
}
.StepDescription{
  margin-top: 5px !important;
  line-height: 17px;
  margin-left: 20px;
  width: 90%;
}
.imgUser1{
  display: flex;
  width: 10vw;
  height: 40vh;
}

.UserManualHeading {
  margin-bottom: -2px;
}